##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Dao"))
#set($poName = $tool.append($tableInfo.name, "PO"))
#set($businessPkId = $tool.append($tool.firstLowerCase($tableInfo.name), "Id"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/easycode"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}easycode;
/**
 * $!{tableInfo.comment}($!{tableInfo.name})表数据库访问层
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

        /**
         * 通过ID查询单条数据
         *
         * @param $!businessPkId 业务主键
         * @return 实例对象
         */
    $!{poName} queryBy$tool.append($tableInfo.name, "Id")(String $!businessPkId);

        /**
         * 新增数据
         *
         * @param $!tool.firstLowerCase($!{poName}) 实例对象
         * @return 影响行数
         */
        int insert($!{poName} $!tool.firstLowerCase($!{poName}));

        /**
         * 修改数据
         *
         * @param $!tool.firstLowerCase($!{poName}) 实例对象
         * @return 影响行数
         */
        int updateBy$tool.firstUpperCase($!businessPkId)($!{poName} $!tool.firstLowerCase($!{poName}));

        }
