##引入宏定义
$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/easycode", ".java")

##使用宏定义设置包后缀
#setPackageSuffix("easycode")

##使用全局变量实现默认包导入
$!{autoImport.vm}
import lombok.Getter;
import lombok.experimental.Delegate;

##使用宏定义实现类注释信息
#tableComment("实体类")
public class $!{tableInfo.name}{

public $!{tableInfo.name}($!{tableInfo.name}Data data){
        this.data=data;
        this.modifyData=new $!{tableInfo.name}Data();
        this.modifyData.$!{tool.firstLowerCase($tableInfo.name)}Id=data.$!{tool.firstLowerCase($tableInfo.name)}Id;
        }

@Delegate
$!{tableInfo.name}Data data;
@Getter
$!{tableInfo.name}Data modifyData;

}
